<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
     </ion-buttons>
  </div>
 <!--Food-->
 <div class="card">
  <div class="image">
    <img src="/assets/Food/almuerzo1.png">
  </div>

  <div class="card-content">
    <div class="card-title">
      <h1 class="titulo">Arroz con pollo</h1>
      <p class="precio">$3.500</p>
      <br>
      <p class="ingredientes">Ingredientes</p>
      <p class="descripcion">pollo a la plancha, verduras salteadas y arroz</p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <ion-button expand="block" fill="clear" shape="round" style="color: #ffff;">
        Añadir a Carrito
      </ion-button>
  </div>
  
 </div>
</ion-content>