<ion-header>
  <ion-toolbar class="fondo">

    <ion-buttons slot="start">

      <!--MENÚ HAMBURGUESA-->
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="dark"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="titulo">
    <p id="colortexto">Pedido 00001</p>
  </div>
  <!-- Card uno -->
  <ion-card id="card">

    <ion-grid fixed>
      <ion-row>
        <ion-col><img src="/assets/completo4.png" id="imagen"></ion-col>
        <ion-col id="titulocard"><strong id="colortexto">Completo Chacarero</strong></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed>
      <ion-row class="row" id="colortexto">
        <ion-col>01-01-2023</ion-col>
        <ion-col>$2.000</ion-col>
        <ion-col>Cant: x1</ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>

  <!-- Card Dos -->
  <ion-card id="card">

    <ion-grid fixed>
      <ion-row>
        <ion-col><img src="/assets/completo4.png" id="imagen"></ion-col>
        <ion-col id="titulocard"><strong id="colortexto">Completo Chacarero</strong></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed>
      <ion-row class="row" id="colortexto">
        <ion-col>01-01-2023</ion-col>
        <ion-col>$2.000</ion-col>
        <ion-col>Cant: x1</ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>

  <!-- Card Tres -->
  <ion-card id="card">

    <ion-grid fixed>
      <ion-row>
        <ion-col><img src="/assets/completo4.png" id="imagen"></ion-col>
        <ion-col id="titulocard"><strong id="colortexto">Completo Chacarero</strong></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed>
      <ion-row class="row" id="colortexto">
        <ion-col>01-01-2023</ion-col>
        <ion-col>$2.000</ion-col>
        <ion-col>Cant: x1</ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>

  <!-- Card Cuatro -->
  <ion-card id="card">

    <ion-grid fixed>
      <ion-row>
        <ion-col><img src="/assets/completo4.png" id="imagen"></ion-col>
        <ion-col id="titulocard"><strong id="colortexto">Completo Chacarero</strong></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed>
      <ion-row class="row" id="colortexto">
        <ion-col>01-01-2023</ion-col>
        <ion-col>$2.000</ion-col>
        <ion-col>Cant: x1</ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>

  <!-- Card Cinco -->
  <ion-card id="card">

    <ion-grid fixed>
      <ion-row>
        <ion-col><img src="/assets/completo4.png" id="imagen"></ion-col>
        <ion-col id="titulocard"><strong id="colortexto">Completo Chacarero</strong></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed>
      <ion-row class="row" id="colortexto">
        <ion-col>01-01-2023</ion-col>
        <ion-col>$2.000</ion-col>
        <ion-col>Cant: x1</ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>
</ion-content>
