<ion-header>
  <ion-toolbar class="fondo">
    <ion-img src="/assets/Logo/logo.png"></ion-img>
    <ion-buttons slot="start">
      <!-- MENÚ HAMBURGUESA -->
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="titulo">
    <p class="colortexto">Historial de Pedidos</p>
  </div>
  <div class="linea"></div>

  <div *ngIf="!hayPedidos" class="no-products">
    No hay pedidos realizados.
  </div>

  <ion-card id="card" *ngFor="let pedido of pedidos">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card-title class="id"><b>Pedido #{{ pedido.id }} </b></ion-card-title>
          <ion-card-title class="titulo" id="fecha"><b>Fecha:</b> {{ pedido.fecha| date: 'yyyy-MM-dd HH:mm' }}</ion-card-title>
          <ion-card-title class="texto"><b>Correo:</b> {{ pedido.correo }}</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed id="card">
      <ion-row id="card">
          <ion-card-content id="card">
            <ion-list id="card">

              <ion-item *ngFor="let producto of pedido.productos" id="card">
                <ion-grid>
                  <ion-row>
                      <ion-label class="cardi"><b>Producto:</b> {{ producto.title }}</ion-label>
                  </ion-row>
                  <ion-row>
                      <ion-label><b>Cantidad:</b> {{ producto.cantidad }}</ion-label>
                      <ion-label><b>Precio unidad:</b> ${{ producto.precio }}</ion-label>
                      <ion-label><b>Precio total:</b> ${{ producto.precio * producto.cantidad }}</ion-label>
                    
                  </ion-row>
              </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
      </ion-row>
    </ion-grid>

    <b><p>Total: ${{ calcularTotal(pedido.productos) }}</p></b>
  </ion-card> 
</ion-content>


