<ion-header>
  <ion-toolbar class="fondo-menu">

    <ion-buttons slot="start">

      <!--MENÚ HAMBURGUESA-->
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="dark"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sugerencias</ion-title>
    </ion-toolbar>
  </ion-header>
-->
  <div class="fondo">
    <div class="recuadro">
      <div class="titulo">
        <p>Sugerencias y Reclamos</p>
      </div>

      <div class="linea"></div>

      <form>
        <div class="correo">
          <ion-label >Ingrese su Email:</ion-label>
          <ion-input type="email" placeholder="ejemplo@gmail.com" required></ion-input>
        </div>
        <div>
          <ion-textarea placeholder="Escribenos tus sugerencias y reclamos! ^^"></ion-textarea>
        </div>
        <div>
          <ion-button  expand="block" fill="solid" shape="round" (click)="enviarSugReclamo()">
            Enviar
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
